{% extends "base2.html" %}
{%block content%}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span4">
    <center><h5>Задание 1</h5></center>
        <pre> <ul><li> Проверить работоспособность топологии.</li><li> Подключить к топологии еще один компьютер. </li><li> Выполнить команду ping на подключенный компьютер. </li></ul> </pre>
    
    <label class="checkbox">
        <input type="checkbox" value="">
        Выполнено
    </label>
    <center><a class="btn btn-success" href="#">Зачесть <i class="icon-ok"></i></a></center>
    </div>
    <div class="span9">
    </div>
    </div>
    </div>
{%endblock%}
