{% extends "base2.html" %}
{%block content%}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span8 offset2">
    <table class="table table-striped table-bordered table-condensed">   
    <tr><th><center><h5>Задание 1</h5></center></th></tr>
        <tr><td><ul><li> Проверить работоспособность топологии.</li><li> Подключить к топологии еще один компьютер. </li><li> Выполнить команду ping на подключенный компьютер. </li></ul>
    <a class="btn btn-warning" href="#">Создать решение <i class="icon-envelope"></i></a></center>
    </td></tr>
    <tr><th><center><h5>Задание 2</h5></center></th></tr>
        <tr><td><ul><li> Проверить работоспособность топологии.</li><li> Подключить к топологии еще один компьютер. </li><li> Выполнить команду ping на подключенный компьютер. </li></ul>
    <a class="btn btn-success" href="#">Зачтено <i class="icon-ok"></i></a></center></td></tr>   
    </table>
{%endblock%}